<div class="border" style="width:20%;">
    <div>Home</div>
    <div>投稿一覧</div>
    <div>お気に入り一覧</div>
</div>


<div class="border" style="width:60%;">
    <div class="row">
        <div class="col-2 border">
          PostForm[image]
        </div>
        <div class="col-10 border">
            <div class="">
                <div class="border">
                    PostForm[name]
                </div>
                <div class="border" style="height:80px;">
                    <span class="mfont">PostForm[text]</span>
                </div>
                <div class="offset-md-9 border">
                    <button>PostForm[post]</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="border m-3" style="width:30%;">読み込み</div>

<div class="border mt-3" style="width:60%;">
    <div class="row">
        <div class="col-2 border">
          Post[image]
        </div>
        <div class="col-10 border">
            <div class="">
                <div class="border">
                    Post[name]
                </div>
                <div class="border" style="height:80px;">
                    <span class="mfont">Post[text]</span>
                </div>
            </div>
        <div class="offset-md-9 border">
        <button>Post[like]</button>
        <button>Post[reply]</button>
        </div>
        </div>
    </div>

    <div class="row">
        <div class="col-2 border">
          reply[image]
        </div>
        <div class="col-10 border">
            <div class="">
                <div class="border">
                    reply[name
                </div>
                <div class="border" style="height:80px;">
                    <span class="mfont">reply[text</span>
                </div>
            </div>
        </div>
        <div class="offset-md-9 border">
        <button>reply[like]</button>
        </div>
    </div>
</div>




