<div class="row m0">
    <div class="col-md-3  pl-4 pt-3">
        <%= react_component("Menu", { cmember: @current_account }, prerender: true) %>
        <%# <%= react_component("RailsProfile", { cmember: @current_account }, prerender: true) %> 
    </div>
    <div class="col-md-9  p0">
        <%= react_component("PostList", { current_member: @current_member,member: @member,  post: @post, reply: @reply }, prerender: true) %>
    </div>
</div>