@import 'colors';
@import 'dimensions';

header{
    span.notice, span.alert{
        display: inline-block;
        padding: $narrow $moderate;
        margin: 0 $wide;
        font-size: $tiny;
        width: auto;
        height: 30px;
        text-align: center;
        line-height: 25px;
        border-radius: $very-wide;
        color: $very_light_gray;
        position: absolute;
        top: 25%;
        left: 12%;
    }

    span.notice{
        background-color: $orange;
    }

    span.alert{
        background-color: $orange;
    }
}
