@import 'colors';
@import 'dimensions';

div#wrapper{
    div#container{
        div#generic-form{
            width: 480px;
            margin: $wide * 2 auto;
            padding: $wide * 2;
            border: solid 1px $dark-gray;
            background-color: $white;
            display:flex;
            justify-content: center;

            
            form{
                div{
                    padding: $wide;
                    label{
                        text-align: left;
                        display: block;
                        padding: $moderate 0;
                    }
                    label.required:after{
                        content: '*';
                        padding-left: $narrow;
                        color: $red;
                    }
                    input[type='password']{
                        border-radius: $very-wide;
                        border: 1px solid $dark-gray;
                    }
                }
                div.notes{
                    text-align: right;
                    font-size: $small;
                    span.mark{ color: $red;}
                }
                div.check-boxes, div.radio-buttons{
                    label{
                        display: inline-block;
                    }
                }
                div.buttons{
                    text-align: center;
                    input[type='submit']{
                        padding: $wide $wide * 2;
                        border-radius: $wide * 2;
                        border: 1px solid $dark-gray;
                        color: $dark_gray;
                    }
                }

                div.field_with_errors{
                    display: inline;
                    padding: 0;
                    label { color:$red; }
                    input { background-color: $pink; }
                }
            }
        }
    }
}
