@import 'colors';
@import 'dimensions';

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}
div#wrapper{
    position: relative;
    box-sizing: border-box;
    min-height: 100%;
    margin: 0 auto;
    padding-bottom: ($wide + $moderate)* 2 + $standard_line_height;
    background-color: $gray;
    color: $dark_gray;
    display: flex;
    flex-direction: column;
}
div#container{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}
div#container_div{
    flex: 1;
  }
header{
    width: 100%;
    height: $very_wide*3.5;
    background-color: $white;
    color: $dark_gray;
    position: relative;
    a{
        text-decoration: none !important;
        color: $dark-gray;
    }
    div.square{
        height: 15px;
        width: 15px;
        background-color: $orange;
        position: absolute;
        top: 35%;
        left: 5px;
    }
    h1{
        font-family: 'M PLUS Rounded 1c', sans-serif;
        margin-bottom: 0;
        font-size: $huge;
        line-height: 1.5;
        position: absolute;
        top: 25%;
        left: 25px;
    }
    div.menu{
        position: absolute;
        top: 25%;
        right: 15%;
        display: flex; flex-direction: row;
        a{
            text-decoration: none;
            font-family: 'M PLUS Rounded 1c', sans-serif;
            float: right;
            margin-left: 30px;
            
            div#a{ order: 1; }
            div#b{ order: 2; }
            div#c{ order: 3; }
        }
        .line{
            color: $dark-gray;
            border-bottom: 1px solid $orange;
        }
    }
    a.hover{
        text-decoration: none;
        transition: .3s; /* なめらか変化 */
        }
        a.hover:hover {
            opacity: 0.5; /* カーソル時透明度 */
        }
    li{
        display: inline-block;
        padding-right: $very-wide;
    }
    p{
        text-align: center;
        margin: 0;
    }
    .icon{
        width: 40px;
        height: 40px;
    }
    .right{
        float: right;
        position: absolute;
        top: 25%;
        right: 10px;
        a{
            text-decoration: none;
        }
    }
}
.header2{
    height:$very_wide*2.5;
    background-color: $orange;
    .right{
        float: right;
        position: absolute;
        top: 8%;
        right: 0;
    li:first-child{
        border-right: 1px solid $white;
    }
    li:nth-child(2){
        padding-left: $wide;
        padding-right: 10px;
    }
    li:last-child{
        position: relative;
        top: -1px;
        right: 10px;
        padding-right: 0;
       form.button_to{
            text-align: center;
            
            input[type='submit']{
                width: 100px;
                padding: $wide $wide * 2;
                background-color: $orange;
                border: none;
                color: $white;
            }
        }
    }
}
    li{
        a{
            color: $white;
            text-decoration: none;
        }
    }
}
footer{
    width: 100%;
    height: $very-wide;
    background-color: $gray;
    color: $very_light_gray;
    p{
        text-align: center;
        padding: $moderate;
        margin: 0;
        line-height: 3.5;
    }
}
