@import 'colors';
@import 'dimensions';

div#wrapper{
    div#container{
        div#container_div{
            width: 80%;
            margin: 0 auto;
            background-color: $white;
        }
        div#login-form{
            width: 400px;
            margin: $wide * 2 auto;
            padding: $wide * 2;
            border: solid 1px $dark_gray;
            background-color: $white;
        
        h1{
            background-color: transparent;
            color: $dark_gray;
            font-size: 2rem;
            font-weight: bold;
            border-bottom: solid 1px $dark_gray;
        }

            form{
                div{
                    padding: $moderate;
                    label{
                        display: block;
                        padding: $moderate 0;
                        text-align-last: left;
                    }
                    input[type='text'],input[type='password']{
                        padding: $wide;
                        width: 400px - $wide * 4;
                        border-radius: $very-wide;
                        border: 1px solid $dark-gray;
                    }
                    input[type='submit']{
                        padding: $wide $wide * 2;
                        border-radius: $very-wide;
                        border: 1px solid $dark-gray;
                    }
                }
            }
        
        }
    }
}
