<% @title = "Member List" %>
<h1><%= @title %></h1>

<div class="table-wrapper">
    <% if @member %>
        <%= react_component("Detail", {member:@member}, prerender: true) %>
    <% end %>
    <div class="links">
        <%= link_to "戻る", request.referer.present? ? request.referer : default_path %>
    </div>

</div>