<% @title = "Member List" %>
<h1><%= @title %></h1>

<div class="container">
    <div class="row">
        <% @member.each do |m| %>
            <div class="col-3">
                <div class="icon">
                    <%= react_component("Picture", { member: m }, prerender: true) %>
                </div>
                <%= react_component("Info", { member: m }, prerender: true) %>
            </div>
        <% end %>
    </div>
    <%= paginate @member %>
</div>